body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
}

.nav {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  margin: auto;
  z-index: 1;
}

.nav img {
  height: 50px;
  margin-left: 10px;
}

.nav ul li {
  list-style: none;
  text-decoration: underline;
  display: inline-block;
  padding-right: 30px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 1200px;
  height: 700px;
  background-image: url("resources/images/img-mission-background.jpg");
}

.main-banner {

}
