body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
}

.nav {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  margin: auto;
}

.nav img {
  height: 50px;
  margin-left: 10px;
}

.nav ul li {
  list-style: none;
  text-decoration: underline;
  display: inline-block;
}
