body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
}

.flex-container {
  display: flex;
  position: fixed;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  margin: auto;
}

.flex-container nav img {
  height: 50px;
  margin-left: 10px;
}

.flex-container nav ul li {
  list-style: none;
  text-decoration: underline;
  display: inline-block;
}

.main {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

#mission {
  height: 700px;
  background-image: url("resouces/images/img-mission-background.jpg");
}
