

/****** Navigation ******/

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  color: MediumAquamarine;
  margin: 40px;
  padding: 40px 40px;
}

li a {
  color: black;
}

li {
  list-style: none;
  width: 50px;
  text-align: center;
  margin: 0 20px;
  padding: 20px 20px;
  text-decoration: underline;
}
