

/****** Navigation ******/

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: white;
  border: 1px solid black;
}

.logo {
  display: flex;
  align-items: left;
  color: MediumAquamarine;
}

li a {
  color: black;
}

ul {
  display: flex;
  list-style: none;
  width: 50px;
  text-align: center;
  text-decoration: underline;
  margin: 0 20px;
}
