

/****** Navigation ******/

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
}

.a header {
  color: black;
}

.logo {
  color: MediumAquamarine;
  display: inline-block;
}

.navigation {
  display: inline-block;
}
